*.aux
*.bcf 
*.blg
*.fls
*.log
*.lof
*.fdb_latexmk
*.gz
*.npy
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.pyc
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.synctex
*.synctex(busy)
*.*
Anexo.aux
Anexo.log
Anexo.out
Anexo.toc
Anexo.lof
Anexo.lot
Anexo.fls
Anexo.fot
Anexo.cb
Anexo.cb2
Anexo.lb
Anexo.dvi
Anexo.xdv
Anexo-converted-to.*
Anexo.bbl
Anexo.bcf
Anexo.blg
main.aux
conclusiones.aux
main.bcf
main.log
main.blg 
main.fdb_latexmk
main.synctex.gz
Metodología.aux
objetivos.aux
resultados.aux